/* * {
    border: solid 1px black;
} */

body {
    background-color: whitesmoke;
    display: grid;
    grid-template-rows: auto 1fr auto;
    /* header, main area, footer */
    grid-template-columns: 1fr 4fr;
    min-height: 100vh;
}

header {
    font-size: x-large;
    color: rgba(31, 130, 200, 0.862);
    height: 5vh;
    grid-column: 2/3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1em;
    margin: 0.5em;
}

.navListDiv {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: rgba(31, 130, 200, 0.862);
    color: white;
    border: rgba(31, 130, 200, 0.862);
    border-radius: 15px;
    padding: 5px 15px;
    font-weight: 600;
}

button:hover {
    outline: none;
    color: rgba(31, 130, 200, 0.862);
    background-color: whitesmoke;
    border: 1px solid rgba(31, 130, 200, 0.862);
}

button:focus {
    outline: none;
    padding: 10px 20px;
}

.sidebar {
    grid-row: 1/3;
}

footer {
    height: 5vh;
    position: relative;
    bottom: 0;
    grid-column: 1/3;
    background-color: whitesmoke;
}

.addListBtn {
    display: block;
    margin: auto;
}

dialog {
    font-size: large;
    border: 5px groove rgba(31, 130, 200, 0.862);
    border-radius: 20px;
}

dialog label {
    margin: 5px;
    font-weight: 600;
}

dialog input {
    background-color: rgba(31, 130, 200, 0.862);
    outline: none;
    padding: 5px 5px;
    border-radius: 10px;
    color: whitesmoke;
    border: 2px solid whitesmoke;

}

.dialogueDiv {
    margin: 1em;
}

.taskButtons {
    margin: 1em;
    display: flex;
    justify-content: space-around;
}


/*.......sidebar.......*/

.sidebar {
    background-color: rgba(31, 130, 200, 0.862);
}

.icon {
    fill: whitesmoke;
    width: 2em;
    height: 2em;
}

.iconDiv {
    display: flex;
    gap: 0.5em;
    align-items: center;
    color: whitesmoke;
}

.dashboardDiv {
    font-size: 1.5em;
}

/*....main content .....*/
.mainContent {
    padding: 2em;
    min-height: max(100%, calc(100vh - 40vh));
    background-color: white;
    color: black;
}

.listsContainer {
    padding: 1em;
    display: flex;
    gap: 5em;
    flex-wrap: wrap;
}

.listDiv {
    color: white;
    width: 20em;
    padding: 0.5em;
    background-color: rgba(31, 130, 200, 0.662);

}

.taskDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.svgDiv {
    text-align: end;
    position: relative;
    bottom: 0.5em;
}

.displayTask {
    color: white;
    width: 20em;
    padding: 0.5em;
    background-color: rgba(31, 130, 200, 0.662);
}

/*.....footer....*/

footer {
    margin: 5px 0;
    padding: 0.5em;
    background-color: rgba(31, 130, 200, 0.862);
    color: whitesmoke;
    text-align: center;

}

footer p {
    align-self: center;
}