/* * {
    border: solid 1px black;
} */

body {
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

header {
    font-size: x-large;
    color: rgba(31, 130, 200, 0.862);
    height: 8vh;
    grid-column: 2/3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 2%;
    margin: 0.5em;
}

.navListDiv {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: rgba(31, 130, 200, 0.862);
    color: white;
    border: rgba(31, 130, 200, 0.862);
    border-radius: 15px;
    padding: 5px 15px;
    font-weight: 600;
}

button:hover {
    outline: none;
    color: rgba(31, 130, 200, 0.862);
    background-color: whitesmoke;
    border: 1px solid rgba(31, 130, 200, 0.862);
}

button:focus {
    outline: none;
    padding: 10px 20px;
}

.sidebar {
    grid-row: 1/3;
}

footer {
    height: 5vh;
    position: relative;
    bottom: 0;
    grid-column: 1/3;
}

.addListBtn {
    display: block;
    margin: auto;
}

dialog {
    font-size: large;
    border: 5px groove rgba(31, 130, 200, 0.862);
    border-radius: 20px;
}

dialog label {
    margin: 5px;
    font-weight: 600;
}

dialog input {
    background-color: rgba(31, 130, 200, 0.862);
    outline: none;
    padding: 5px 5px;
    border-radius: 10px;
    color: whitesmoke;
    border: 2px solid whitesmoke;

}

.dialogueDiv {
    margin: 1em;
}

.taskButtons {
    margin: 1em;
    display: flex;
    justify-content: space-around;
}


.mainContent {
    min-height: max(100%, calc(100vh - 20vh));
    background-color: rgb(235, 235, 182);
}

.sidebar {
    background-color: rgba(31, 130, 200, 0.862);
}

.icon {
    fill: whitesmoke;
    width: 2em;
    height: 2em;
}

.iconDiv {
    display: flex;
    gap: 0.5em;
    align-items: center;
    color: whitesmoke;
}

.dashboardDiv {
    font-size: 1.5em;
}